.main{
    text-align: center;
}
.links,a{
    color:black;
    margin-left: 30px;
    text-decoration: none;
    text-align:right;
    margin: 20px;
}
#google_search{
    padding: 20px;
}


#logo{
    width: 272px;
    height: 92px;
}
#search1{
    border: 1px;
    padding: 5px 8px 0 14px;
    margin: 0 auto;
    width: 515px;
    height: 32px;
    border-radius:24px;
    border-color: rgba(223,225,229,0);
    border: 1px solid #dfe1e5;
    font-size: 16px;
    font-family: arial,sans-serif;
    color: #202124;
    outline: none;
}
#search2{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    font-size: 14px;
    margin: 20px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select: none;
}

#search2:hover{
    box-shadow: 0 0 5px grey;
}

#search1:hover{
    box-shadow: 0 0 5px grey;
}
